@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Varela+Round&display=swap");
.header {
  padding-top: 61px;
  background-image: url("../images/banner_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f4f5;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

@media (max-width: 993px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: -120%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.header__menu.activeted {
  display: block;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.header .header__list li a {
  text-transform: capitalize;
  color: #26272d;
  font-size: 16px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 993px) {
  .header .header__list li a {
    font-size: 20px;
  }
}

@media (max-width: 993px) {
  .header .header__list li {
    margin-top: 50px;
  }
}

@media (max-width: 993px) {
  .header .header__list li.header__button img {
    height: 23px;
    width: 20px;
  }
}

@media (max-width: 993px) {
  .header .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .active {
  opacity: 0.4;
  color: #1b1c1e;
}

.header .header__button {
  padding: 9px 24px 13px 17px;
  background-color: #267df4;
  border-radius: 21px;
}

.header .header__button .header_buttonText {
  margin-left: 14px;
  margin-bottom: 50px;
  color: #fff;
}

.header .burger__menu {
  display: none;
}

.header .burger__menu.activeted span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .burger__menu.activeted:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header .burger__menu.activeted:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

@media (max-width: 993px) {
  .header .burger__menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header .burger__menu span {
    position: absolute;
    background-color: #26272d;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .burger__menu:before, .header .burger__menu:after {
    content: '';
    background-color: #26272d;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .burger__menu:before {
    top: 0;
  }
  .header .burger__menu:after {
    bottom: 0;
  }
}

.header .header__titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__title {
  text-align: center;
  font-family: 'Varela Round';
  font-size: 62px;
  line-height: 72px;
  font-weight: 400;
  color: #26272d;
}

.header .header__subtitle {
  font-family: 'Lato';
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  text-align: center;
}

.header .header__headerBtn {
  padding: 15px 42.5px 20px 36.5px;
  margin: 65px 0px 60px 0px;
  border: 1px solid #26272d;
  border-radius: 25px;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.header .header__headerBtn a {
  color: #26272d;
  margin-left: 17px;
}

.header .header__phone {
  height: 455px;
  width: 364px;
}

.none {
  display: none;
}

.lock {
  overflow: hidden;
}

.feature .feature__body {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 170px;
}

@media (max-width: 767px) {
  .feature .feature__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature .feature__body .feture__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

@media (max-width: 767px) {
  .feature .feature__body .feture__row:last-child {
    padding-top: 50px;
  }
}

.feature .feature__body .feture__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .feature .feature__body .feture__col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature .feature__body .feture__col img {
  width: 50px;
  height: 50px;
  padding-bottom: 50px;
}

.feature .feature__body .feture__col p {
  font-family: "Lato";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #8c8f94;
}

@media (max-width: 767px) {
  .feature .feature__body .feture__col p {
    text-align: center;
  }
}

.feature .feature__body .feature__subtitle {
  font-family: 'Lato';
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  color: #26272d;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .feature .feature__body .feature__subtitle {
    text-align: center;
  }
}

@media (max-width: 1270px) {
  .feature .feature__body {
    padding-bottom: 80px;
  }
}

.featureIphone {
  padding-bottom: 40px;
}

.featureIphone .featureIphone__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featureIphone .featureIphone__row {
  width: 50%;
}

.featureIphone .featureIphone__row:first-child img {
  height: 100%;
  width: 100%;
  position: relative;
  left: -90px;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__row:first-child img {
    left: 0;
  }
}

.featureIphone .featureIphone__row:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__row {
    width: 100%;
  }
}

.featureIphone .featureIphone__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featureIphone .featureIphone__col:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featureIphone .featureIphone__container {
  max-width: 570px;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__container {
    max-width: 100%;
  }
}

.featureIphone .featureIphone__title {
  font-family: 'Varela Round';
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__title {
    text-align: center;
    margin-top: 40px;
  }
}

.featureIphone .featureIphone__text {
  font-family: "Lato";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__text {
    text-align: center;
    max-width: 60%;
  }
}

@media (max-width: 950px) {
  .featureIphone .featureIphone__text {
    max-width: 100%;
  }
}

.featureIphone .featureIphone__button {
  padding: 14px 20px 14px 26px;
  border-radius: 21px;
  margin-top: 30px;
}

.featureIphone .featureIphone__button span {
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.featureIphone .featureIphone__button:first-child {
  background-color: #267df4;
}

.featureIphone .featureIphone__button:first-child img {
  padding-left: 50px;
  width: 13px;
  height: 12px;
}

.featureIphone .featureIphone__button:last-child {
  margin-left: 20px;
  border: 1px solid #26272d;
}

.featureIphone .featureIphone__button a {
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #26272d;
}

@media (max-width: 1270px) {
  .featureIphone .featureIphone__button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mapFeature .mapFeature__body {
  padding-top: 202px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 220px;
}

@media (max-width: 1270px) {
  .mapFeature .mapFeature__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.mapFeature .mapFeature__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mapFeature .mapFeature__row:first-child {
  margin-left: 10%;
  width: 30%;
}

@media (max-width: 1270px) {
  .mapFeature .mapFeature__row:first-child {
    width: 100%;
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.mapFeature .mapFeature__row:last-child {
  width: 70%;
  overflow: hidden;
}

.mapFeature .mapFeature__row:last-child img {
  overflow: hidden;
  position: relative;
  left: 150px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1270px) {
  .mapFeature .mapFeature__row:last-child img {
    left: 0;
    padding-bottom: 40px;
  }
}

@media (max-width: 1270px) {
  .mapFeature .mapFeature__row:last-child {
    width: 100%;
    margin: 0;
  }
}

.mapFeature .mapFeature__col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mapFeature .mapFeature__title {
  font-family: 'Varela Round';
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;
}

@media (max-width: 1270px) {
  .mapFeature .mapFeature__title {
    text-align: center;
  }
}

.mapFeature .mapFeature__text {
  font-family: "Lato";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
}

@media (max-width: 1270px) {
  .mapFeature .mapFeature__text {
    text-align: center;
  }
}

@media (max-width: 950px) {
  .mapFeature .mapFeature__text {
    max-width: 100%;
  }
}

.mapFeature .mapFeature__partnersTitle {
  font-family: Lato;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
}

.mapFeature .mapFeature__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mapFeature .partners__col:first-child {
  padding-right: 30px;
}

.iphoneScreens {
  background-color: #f5f5f8;
}

.iphoneScreens .iphoneScreens__body {
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iphoneScreens .iphoneScreens__titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iphoneScreens .iphoneScreens__titleBlock .titleBlock__title {
  font-family: 'Varela Round';
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;
  padding-bottom: 40px;
}

.iphoneScreens .iphoneScreens__titleBlock hr {
  margin-bottom: 30px;
  width: 50px;
  height: 2px;
  background-color: #267df4;
  border-radius: 1px;
}

.iphoneScreens .iphoneScreens__titleBlock .titleBlock__subtitle {
  font-family: 'Lato';
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #8c8f94;
}

.iphoneScreens .iphoneScreens__screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1400px) {
  .iphoneScreens .iphoneScreens__screens {
    width: 100%;
    height: 50px;
  }
}

.iphoneScreens .screens__screen {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.iphoneScreens .screens__screen {
  margin: 0px 30px 0px 0px;
}

.iphoneScreens .screens__screen img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1400px) {
  .iphoneScreens .screens__screen {
    display: none;
  }
}

.iphoneScreens .active__screen_1 {
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -29px;
  position: relative;
  left: 734px;
}

.iphoneScreens .active__screen_2 {
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -29px;
  position: relative;
  left: 385px;
}

.iphoneScreens .active__screen_3 {
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -29px;
  position: relative;
  left: -361px;
}

.iphoneScreens .active__screen_4 {
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -29px;
  position: relative;
  left: -711px;
}

.iphoneScreens .active__telephone {
  display: block;
  position: relative;
  top: -430px;
}

.iphoneScreens .core {
  padding-top: 50px;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 1500px) {
  .iphoneScreens .core {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
  }
}

.readyToBuy {
  background-color: #f5f5f8;
}

.readyToBuy__logo {
  opacity: 0.5;
  font-family: Lato;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #3a3d4b;
  padding-bottom: 40px;
}

.readyToBuyBody {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 130px;
}

.readyToBuy__title {
  font-family: 'Varela Round';
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #3a3d4b;
  padding-bottom: 50px;
}

.readyToBuy__form {
  padding: 3px 5px 3px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #222328;
  border-radius: 25px;
  width: 502px;
  margin-bottom: 60px;
}

.readyToBuy__form input {
  background-color: transparent;
  border: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #3a3d4b;
  width: 69%;
}

.readyToBuy__form input:focus {
  outline: none;
}

.readyToBuy__form button {
  background-color: #6fc754;
  border-radius: 21px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  width: 164px;
  height: 42px;
}

.readyToBuy__form button img {
  height: 12px;
  width: 13px;
}

@media screen and (max-width: 540px) {
  .readyToBuy__form {
    width: 90%;
  }
}

.ready__toBuyAppStore img {
  width: 180px;
  border-radius: 30px;
}

.ready__toBuySubtitle {
  opacity: 0.3;
  font-family: "Lato";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #3a3d4b;
  padding-bottom: 25px;
}

.swiper {
  margin-top: 130px;
  margin-bottom: 20px;
}

.swiper .swiper-button-next:after, .swiper .swiper-button-prev:after {
  color: #26292c;
  opacity: 0.6;
}

@media (max-width: 640px) {
  .swiper .swiper-button-next:after, .swiper .swiper-button-prev:after {
    display: none;
  }
}

.swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 15px;
  font-family: 'Lato';
}

.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__item .item__avatarBlock {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 578px;
}

.customers__item .item__avatarBlock .item__avatar img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-box-shadow: 14px 38px 40px 0px rgba(92, 95, 101, 0.28);
          box-shadow: 14px 38px 40px 0px rgba(92, 95, 101, 0.28);
}

.customers__item .item__avatarBlock .avatarBlock__nextUser {
  width: 90px;
  height: 90px;
  opacity: 0.03;
  border-radius: 50%;
  background-color: #26292c;
}

.customers__item .item__title {
  font-family: "Lato";
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  color: #26272d;
  padding-bottom: 50px;
  text-align: center;
}

.customers__item .item__text {
  max-width: 578px;
  font-family: "Lato";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  padding-bottom: 30px;
  text-align: center;
}

.customers__item .item__rate {
  padding-bottom: 40px;
}

.customers__item .item__name {
  font-family: "Lato";
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
  padding-bottom: 80px;
}

@media (max-width: 1000px) {
  .customers__item .item__name {
    padding-bottom: 40px;
  }
}

.plan {
  background-color: #f4f4f5;
}

.plan .plan__body {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 160px;
}

@media (max-width: 1180px) {
  .plan .plan__body {
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.plan .plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.plan .plan__row:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1180px) {
  .plan .plan__row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .plan .plan__row:last-child {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.plan .plan__title {
  font-family: 'Varela Round';
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26272d;
  margin-bottom: 70px;
}

.plan .plan__subtitle {
  font-family: "Lato";
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
  margin-bottom: 22px;
}

.plan .plan__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 258px;
  border: 1px solid #7f8285;
  border-radius: 25px;
  margin-bottom: 80px;
  padding: 3px;
}

.plan .plan__choose .choose__button {
  cursor: pointer;
  width: 50%;
  padding: 14px 0px;
  text-align: center;
  border-radius: 21px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #7f8285;
  -webkit-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
}

.plan .plan__choose .choose__button:not(.activeButton):hover {
  color: #26292c;
}

.plan .plan__choose .activeButton {
  color: #26292c;
  background-color: #ffffff;
}

.plan .plan__text {
  font-family: "Lato";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  margin-bottom: 50px;
}

.plan .plan__support {
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #8c8f94;
}

.plan .plan__support a {
  text-decoration: underline;
  color: #267df4;
}

@media (max-width: 1180px) {
  .plan .plan__support {
    padding-bottom: 30px;
  }
}

.plan .plan__card {
  -webkit-box-shadow: 10px 28px 50px 0px rgba(92, 95, 101, 0.2);
          box-shadow: 10px 28px 50px 0px rgba(92, 95, 101, 0.2);
  border-radius: 10px;
  background-color: #ebebed;
  padding: 42px 56px 50px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.plan .plan__card:hover {
  position: relative;
  top: -20px;
  height: 430px;
  background-color: #fff;
  padding: 62px 56px 70px 56px;
}

@media (max-width: 1180px) {
  .plan .plan__card {
    height: 430px;
    background-color: #fff;
    padding: 62px 56px 70px 56px;
  }
}

@media (max-width: 693px) {
  .plan .plan__card {
    margin-top: 20px;
    width: 310px;
  }
}

@media (max-width: 693px) {
  .plan .plan__card {
    width: 260px;
  }
}

.plan .acitveCard {
  position: relative;
  top: -20px;
  height: 430px;
  background-color: #fff;
  padding: 62px 56px 70px 56px;
}

.plan .card__title {
  font-family: "Lato";
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  color: #26272d;
  margin-bottom: 30px;
}

.plan .card__cost {
  border: 1px solid #7f8285;
  width: 63px;
  height: 26px;
  text-align: center;
  border-radius: 14px;
  font-family: "Lato";
  font-size: 11px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
  margin-bottom: 60px;
}

.plan .card__subtitle {
  font-family: "Lato";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
  margin-bottom: 50px;
}

.plan .card__list {
  list-style-image: url(/images/done.png);
}

.plan .card__list li {
  font-family: "Lato";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #26292c;
}

.plan a .card__button {
  width: 212px;
  height: 42px;
  margin-top: 55px;
  cursor: pointer;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  border: 1px solid #267df4;
  border-radius: 21px;
  background-color: transparent;
  color: #267df4;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.plan a .card__button:hover {
  background-color: #267df4;
  color: #fff;
}

@media (max-width: 1180px) {
  .plan a .card__button {
    background-color: #267df4;
    color: #fff;
  }
}

.plan .activetedButton {
  background-color: #267df4;
  color: #fff;
}

.plan .nonHover {
  pointer-events: none;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 90px 0px;
}

.subscribe__title {
  font-family: 'Varela Round';
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
  color: #26292c;
  margin-bottom: 50px;
}

.subscribe__form {
  padding: 3px 5px 3px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #222328;
  border-radius: 25px;
  width: 502px;
  margin-bottom: 30px;
}

.subscribe__form input {
  background-color: transparent;
  border: none;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #3a3d4b;
  width: 69%;
}

.subscribe__form input:focus {
  outline: none;
}

.subscribe__form button {
  background-color: #6fc754;
  border-radius: 21px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  width: 164px;
  height: 42px;
}

@media (max-width: 600px) {
  .subscribe__form {
    width: 90%;
  }
}

.subscribe__subtitle {
  font-family: "Lato";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #8c8f94;
}

.container {
  max-width: 1167px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

a {
  text-decoration: none;
}

.content {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  border-top: 1px solid #a4a4a7;
}

.footer .footer__body {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 130px;
}

@media (max-width: 1000px) {
  .footer .footer__body {
    padding-bottom: 50px;
  }
}

@media (max-width: 530px) {
  .footer .footer__body {
    padding-top: 50px;
  }
}

.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

.footer .footer__row:last-child {
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1000px) {
  .footer .footer__row:last-child {
    width: 60%;
  }
}

@media (max-width: 530px) {
  .footer .footer__row:last-child {
    display: none;
  }
}

@media (max-width: 530px) {
  .footer .footer__row:first-child {
    width: 100%;
  }
}

.footer .footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 530px) {
  .footer .footer__col:first-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer__logo {
  padding-bottom: 35px;
}

.footer .footer__text {
  font-family: "Lato";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #8c8f94;
  padding-bottom: 35px;
}

@media (max-width: 530px) {
  .footer .footer__text {
    font-size: 20px;
  }
}

.footer .footer__appstore {
  padding-bottom: 20px;
}

@media (max-width: 530px) {
  .footer .footer__appstore img {
    width: 180px;
  }
}

.footer .footer__socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__socials a img {
  width: 22px;
  height: 22px;
}

@media (max-width: 530px) {
  .footer .footer__socials {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer__socials a img {
    width: 40px;
    height: 40px;
  }
}

.footer .footer__title {
  font-family: "Lato";
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
}

.footer .footer__col > a {
  display: block;
  font-family: "Lato";
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #8c8f94;
}

body {
  margin: 0 auto;
}

ul {
  padding: 0;
  -webkit-padding-start: none;
          padding-inline-start: none;
}
/*# sourceMappingURL=st.css.map */